.input:focus {
}

.input {
    height: 36px;
    border: 1px solid #D1D1D1;
    width: 372px;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
}

.inputWrapper {
    position: relative;
}

.superInput {
}

.errorInput {
    border: 1px solid red;
    outline: none;
}

.errorInput:focus {
    border: 1px solid red;
}

.error {
    color: red;
    position: absolute;
    left: 0;
    top: -20px;

}
